# Demo Notebok One (Pandas)

## Imports

In [ ]:
import pandas as pd
import numpy as np
import datetime
import random

In [ ]:
# sample tick data
def generate_tick_data(num_ticks=10):
    timestamps = pd.date_range(start='2024-04-24', periods=num_ticks, freq='T')
    prices = [100 + random.uniform(-1, 1) for _ in range(num_ticks)]
    volumes = [random.randint(100, 1000) for _ in range(num_ticks)]
    return pd.DataFrame({'Timestamp': timestamps, 'Price': prices, 'Volume': volumes})

In [ ]:
# tick data in a DataFrame
tick_data = generate_tick_data()
display(tick_data)

            Timestamp       Price  Volume
0 2024-04-24 00:00:00   99.581190     328
1 2024-04-24 00:01:00   99.596902     327
2 2024-04-24 00:02:00  100.705190     762
3 2024-04-24 00:03:00  100.702893     156
4 2024-04-24 00:04:00   99.490608     272
5 2024-04-24 00:05:00  100.545553     726
6 2024-04-24 00:06:00   99.962780     133
7 2024-04-24 00:07:00   99.448444     806
8 2024-04-24 00:08:00  100.629431     596
9 2024-04-24 00:09:00   99.362995     365